.users {
  margin-top: 30px;
  margin-left: 30px;
  display: flex;
}
.users img {
  width: 70px;
  height: 70px;
}
.btn_follow {
  border-radius: 20px;
  padding: 5px;
  cursor: pointer;
  border: 1px solid #ad8f8f;
}
.btn_follow:hover {
  background-color: #ad8f8f;
  transition: all 0.6s ease;
  color: white;
}
.users_content {
  display: flex;
  justify-content: space-between;
  border: 2px solid #ad8f8f;
  border-radius: 20px;
  margin-left: 30px;
  width: 70%;
}
.user_name {
  font-size: 17px;
  /* padding-left: 10px; */
}
.user_data {
  margin-left: 10px;
  margin-right: 10px;
}
.user_location {
  font-size: 14px;
}
@media (max-width: 500px) {
  .users {
    display: flex;
    margin-left: 5px;
    flex-direction: column;
  }
  .users_up {
    margin: 0 auto;
  }
  .users_content {
    margin-left: -6px;
    margin-top: 5px;
    width: auto;
  }
}
