.profile_data img {
  width: 100px;
  height: 100px;
}
.profile_data {
  display: flex;
  margin-top: 20px;
  margin-left: 10px;
}
.profile_text {
  margin-left: 40px;
}
.profile_text p:first-child {
  font-size: 20px;
}
