.post p {
  font-size: 16px;
  margin-right: 5px;
  white-space: normal;
}
.post button {
  cursor: pointer;
  width: 50px;
  margin-left: 20px;
}
.post img {
  width: 20px;
  height: 20px;
}
.post button:hover {
  background-color: #e48c8c;
}
