.App_wrapper {
  background-color: #e0dada;
  max-width: 1200px;
  padding-bottom: 40px;
  margin: 0 auto;
}
.App_content {
  display: flex;
}
.profile_content {
  flex: 1 2 900px;
}
.profile_content img {
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
}
